<%# 201935292 염승현 %>
<!doctype html>  
<html>
<head>
  <title>WEB1</title>
  <meta charset="utf-8">
  <link rel="icon" href="data:,">
</head>
<body>
  <h1><a href="/">WEB</a></h1>
  <p><a href="/list">테이블 목록</a></p>
 <%- list %>
  <%- control%>
  
<%- body%>
</html>
