<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <form  method="post" action="/review/create_process">
         <div class="mb-3">
            <label class="form-label" for="author">title_id(삼총사:1 레베카:2 몬테크리스토:3)</label>
            <input class="form-control" type="text" name="title_id" style="width:300px;" />
        </div>
        <div class="mb-3">
            <label class="form-label" for="author">작성자</label>
            <input class="form-control" type="text" name="author" style="width:300px;" />
        </div>
        <div class="mb-3">
            <label class="form-label" for="score">별점</label>
            <input class="form-control" type="text" name="score" style="width:300px;" />
        </div>
        <div class="mb-3">
            <label class="form-label" for="descrpt">내용</label>
            <input class="form-control" type="text" name="descrpt" style="width:300px;" />
        </div>
        <button class="btn btn-outline-primary btn-sm" type="submit" >입력하기</button>
    </form>

    <script>



    </script>
</body>
</html>
